version: "3.9"

services:

  # Laravel Backend
  backend:
    build:
      context: ./backend
    container_name: fintrack_backend
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8000:8000"
    environment:
      APP_ENV: local
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: secret
      REDIS_HOST: redis
    depends_on:
      - postgres
      - redis
    command: sh -c "php artisan serve --host=0.0.0.0 --port=8000"

  # React Frontend
  frontend:
    build:
      context: ./frontend
    container_name: fintrack_frontend
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:8000/api
    depends_on:
      - backend

  # PostgreSQL
  postgres:
    image: postgres:15
    container_name: pgsql
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # Redis
  #redis:
   # image: redis:latest
    #container_name: redis_server
    #ports:
     # - "6379:6379"
    #volumes:
     # - redisdata:/data

volumes:
  pgdata:
  redisdata:


